<html>
	<head>
		<title>Caesar Cipher</title>
	</head>
	<body>
		<h1>Caesar Cipher</h1>
		<p>
			<%= cipher %>
		</p>
		<form>
			Text to Convert:<br>
			<input type='text' name='text' /><br>
			Units to Shift:<br>
			<input type='number' name='shift' /><br>
			<input type='submit' value='Convert!' />
		</form>
	</body>
</html>